@using LibraryManagement.ViewModel;
@model IEnumerable<CatalogViewModel>
<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Catalog" asp-action="Create"> Create new Catalog</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Pipeline Count</th>
            <th>Edit Catalog</th>
            <th>Delete Catalog</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var catalogVM in Model)
        {
        <tr>
            <td>@catalogVM.Catalog.CatalogId</td>
            <td>@catalogVM.Catalog.Name</td>
            <td>@catalogVM.Catalog.Description</td>
            <td>@catalogVM.PipelineCount</td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Catalog" asp-action="Update" asp-route-id="@catalogVM.Catalog.CatalogId">Edit</a></td>
            <td><a class="btn btn-danger" asp-area="" asp-controller="Catalog" asp-action="Delete" asp-route-id="@catalogVM.Catalog.CatalogId">Delete</a></td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Catalog" asp-action="View" asp-route-id="@catalogVM.Catalog.CatalogId">View</a></td>
        </tr>

        }
    </tbody>
</table>